/* vint21h.github.io */
/* static/styles.css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald:300);

:root {
    --background-color: #fff;
    --font-color: #333;
    --link-color: #337ab7;
    --link-color-hover: #23527c;
}

:root.dark {
    --background-color: #333;
    --font-color: #fff;
    --link-color: #008cff;
    --link-color-hover: #337ab7;

}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --font-color: #fff;
        --link-color: #008cff;
        --link-color-hover: #337ab7;

    }

    :root.light {
        --background-color: #fff;
        --font-color: #333;
        --link-color: #337ab7;
        --link-color-hover: #23527c;
    }
}

body {
    font-family: "Open Sans", "Helvetica Neue Light", sans-serif;
    font-weight: 300;
    background: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-weight: 700;
}

h2, h3 {
    font-weight: 300;
}

main {
    padding: 20px 0;
}

.vr {
    display: inline;
    margin: 0.5em 0;
    width: 1px;
    height: 1em;
    border-left: 1px solid gray;
}

section#id-header img {
    padding: 20px;
}

section#id-header .title .vr {
    display: none;
}

@media (min-width: 768px), print {
    section#id-header img {
        width: 4em;
        height: 4em;
        padding: 0;
        float: right;
    }

    section#id-header .title h1, h2 {
        display: inline !important;
        padding-right: 20px;
    }

    section#id-header .title .vr {
        display: inline;
    }
}

section#id-skills-and-technologies .details {
    -moz-column-count: 4;
    -moz-column-gap: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0;
    column-count: 4;
    column-gap: 0;
}

@media (min-width: 360px) {
    section#id-skills-and-technologies .details {
        -moz-column-count: 2;
        -moz-column-gap: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0;
        column-count: 2;
        column-gap: 0;
    }
}

@media (min-width: 576px) {
    section#id-skills-and-technologies .details {
        -moz-column-count: 2;
        -moz-column-gap: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0;
        column-count: 2;
        column-gap: 0;
    }
}

@media (min-width: 768px) {
    section#id-skills-and-technologies .details {
        -moz-column-count: 2;
        -moz-column-gap: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0;
        column-count: 2;
        column-gap: 0;
    }
}

@media (min-width: 992px) {
    section#id-skills-and-technologies .details {
        -moz-column-count: 3;
        -moz-column-gap: 0;
        -webkit-column-count: 3;
        -webkit-column-gap: 0;
        column-count: 3;
        column-gap: 0;
    }
}

@media (min-width: 1200px) {
    section#id-skills-and-technologies .details {
        -moz-column-count: 4;
        -moz-column-gap: 0;
        -webkit-column-count: 4;
        -webkit-column-gap: 0;
        column-count: 4;
        column-gap: 0;
    }
}

.details h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.date {
    font-size: 15px;
    line-height: 24px;
}

.website {
    line-height: 18px;
}

.company {
    font-size: 15px;
    line-height: 24px;
}

.avatar {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        background: var(--background-color);
    }
    .avatar .easter-egg {
        display: none;
        position: absolute;
        background: var(--background-color);
    }
    .avatar:hover .easter-egg {
        display: inline;
        background: var(--background-color);
    }

/* Fix for print */
@media print {

    a[href]:after {
        content: none !important;
    }

    abbr[title]:after {
        display: none !important;
    }

    abbr[title] {
        border-bottom: none !important;
        cursor: inherit !important;
        text-decoration: none !important;
    }

    body {
        font-size: 9px;
    }

    h1 {
        font-size: 31px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 19px;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666666666666%;
    }

    .col-sm-10 {
        width: 83.33333333333334%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666666666666%;
    }

    .col-sm-7 {
        width: 58.333333333333336%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666666666667%;
    }

    .col-sm-4 {
        width: 33.33333333333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.666666666666664%;
    }

    .col-sm-1 {
        width: 8.333333333333332%;
    }

}
